<ion-header>

  <ion-navbar>
    <img src="assets/img/logo.png" class="logo-intro"/>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item no-lines text-wrap *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.imagen" />
        </ion-avatar>
        <h2>{{item.title.rendered}}</h2>
        <p *ngIf="item.datos.mm_producto_marca != undefined">{{item.datos.mm_producto_marca[0]}}</p>
      </button>
    </ion-item>
  </ion-list>
</ion-content>